body {
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    font-size: 75px;
    font-family: 'Amatica SC', cursive;
}
p {
    font-size: 25px;
    font-family: 'Economica', sans-serif;
    margin-top: -30px;
}
canvas {
	width: 500;
	height: 500;
	border: none;
}

.jumbotron {
    height: 350px;
    color: black:
    text-shadow: #400 0 1px 1px;
    background-image: url("images/jumbo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a { /* link */
	text-decoration:none;
	color: white;
}
a:hover {
	color: grey;
}